/**
 * colors
 * @type {[type]}
 */
$brand-primary: #1a4582;
$brand-secondary: #ee3223;
$brand-details: #2eb1e8;

//
// ANIMAÇÕES CSS
$animationTime: 0.350s cubic-bezier(.25, .1, .25, 1);

//
// CONTAINER WIDTH
$max-width: 95%;
