/**
 * colors
 * @type {[type]}
 */
$brand-primary: #1a4582;
$brand-secondary: #ee3223;
$brand-details: #2eb1e8;

//
// ANIMAÇÕES CSS
$animationTime: 0.150s cubic-bezier(0.1, 0.2, 1, 1);

//
// CONTAINER WIDTH
$max-width: 95%;
